{% extends "base.html" %}

{% block content %}
<body style="background-color: #1a1f3a;">
<h1 style="color: rgb(255,255,255);text-align: center;padding: 35px;background-color: #f8aa35;height: 150px;font-size: 60px;">O nas</h1>
<div class="carousel slide" data-ride="carousel" id="carousel-1" style="margin-top: 10%;">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="parent d-flex justify-content-center">
                    <img src="{{url_for('static', filename='basia.jpg')}}" width="256" height="256"/>
                    <p style="color: rgb(255,255,255);width: 200px;padding: 50px;">Barbara Chojnowska</p>
                    <img src="{{url_for('static', filename='weronika.jpg')}}" width="256" height="256"/>
                    <p style="color: rgb(255,255,255);width: 200px;padding: 50px;">Weronika Celniak</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="parent d-flex justify-content-center">
                    <img src="{{url_for('static', filename='Olaf.jpg')}}" width="256" height="256"/>
                    <p style="color: rgb(255,255,255);width: 200px;padding: 50px;">Olaf Tomaszewski</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="parent d-flex justify-content-center">
                    <img src="{{url_for('static', filename='Monci.jpg')}}" width="256" height="256"/>
                    <p style="color: rgb(255,255,255);width: 200px;padding: 50px;">Monika Stachak</p>
                    <img src="{{url_for('static', filename='juliusz.jpg')}}" width="256" height="256"/>
                    <p style="color: rgb(255,255,255);width: 200px;padding: 50px;">Juliusz Stefański</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="parent d-flex justify-content-center">
                    <img src="{{url_for('static', filename='ww.jpg')}}" width="256" height="256"/>
                    <p style="color: rgb(255,255,255);width: 200px;padding: 50px;">Weronika Wegrzyn</p>
                    <img src="{{url_for('static', filename='maciek.jpg')}}" width="256" height="256"/>
                    <p style="color: rgb(255,255,255);width: 200px;padding: 50px;">Maciej Rakocki</p>
                </div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a>
            <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>
{% endblock %}
</html>