<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>My application</title>
  </head>

  <body>
      <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="color: #FFFFFF;background-color: #66A3C4;width: 100%;height: 100%;padding: 6px;">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/" style="color: #FFFFFF;font-family: Roboto, sans-serif;">Main<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/form"style="color: #FFFFFF;font-family: Roboto, sans-serif;">Formularz</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/results" style="color: #FFFFFF;font-family: Roboto, sans-serif;">Wyniki</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/project" style="color: #FFFFFF;font-family: Roboto, sans-serif;">O projekcie</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/about_us" style="color: #FFFFFF;font-family: Roboto, sans-serif;">O nas</a></li>
                </ul>
            </div>
        </div>
    </nav>
      {% block content %}{% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>