{% extends "base.html" %}

{% block content %}
<body style="background-color: #1a1f3a;filter: blur(0px) brightness(100%);">
    <div>
        <div class="container" style="color: #FFFFFF;font-family: Roboto, sans-serif;">
            <div>
                <div class="row">
                    <div class="col" style="height: 134px;">
                        <p class="text-center" style="font-size: 42px;margin-top: 16px;"><strong>Ankieta</strong></p>
                        <p class="text-center" style="font-size: 16px;margin-top: 16px; margin-bottom: 20px;">Wypełnienie ankiety zajmie Ci ok. 10 minut. Dziękujemy!</p>
                    </div>
                </div>
                <form style="height: 1412px;" role="form" method="post" action="/save">
                    <div class="form-group">
                        <div>
                            <div class="form-row" id="Rok_studiow" style="margin-top: 0px;background-color: #F8AA35;padding-bottom: 20px;padding-top: 20px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;height: 14px;"><strong>Rok studiów</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><div class="form-check">
    <input type="radio" class="form-check-input" name="year" id = "1" value = "1"/> <label class="form-check-label" for="1"> I </label> <br/>
    <input type="radio" class="form-check-input" name="year" id = "2" value = "2"/> <label class="form-check-label" for="2"> II </label> <br/>
    <input type="radio" class="form-check-input" name="year" id = "3" value = "3"/> <label class="form-check-label" for="3"> III </label> <br/>
    <input type="radio" class="form-check-input" name="year" id = "4" value = "4"/> <label class="form-check-label" for="4"> IV </label> <br/><input type="radio" class="form-check-input" name="year" id = "5" value = "5"/> <label class="form-check-label" for="5"> V </label>
</div></div>
                            </div>
                            <div class="form-row" id="Typ_kierunku" style="margin-top: 0px;padding-bottom: 20px;padding-top: 20px;height: 183px;">
                                <div class="col-md-8 offset-md-1" style="margin-top: 0px;">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;"><strong>Typ kierunku</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><select class="form-control" id="type_of_study" style="background-color: #ffffff;" name="type_of_study" required="" multiple="">
                                    <option value="Humanistyczno-społeczny">Humanistyczno-społeczny</option>
                                    <option value="Przyrodniczy/ścisły">Przyrodniczy/ścisły</option>
                                    <option value="Techniczny">Techniczny</option>
                                    <option value="Ekonomiczno-biznesowy">Ekonomiczno-biznesowy</option>
                                    <option value="Artystyczny">Artystyczny</option>
                                    <option value="Medyczny">Medyczny</option></select></div>
                            </div>
                            <div class="form-row" id="Uczelnia" style="margin-top: 0px;padding-top: 20px;padding-bottom: 20px;background-color: #f8aa35;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;"><strong>Uczelnia</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><select class="form-control" id="university" name="university" required=""><option value="agh">Akademia Górniczo-Hutnicza</option><option value="pk">Poltechnika Krakowska</option><option value="uj">Uniwersytet Jagielloński</option><option value="uek">Uniwersytet Ekonomiczy w Krakowie</option><option value="up">Uniwersytet Pedagogiczny w Krakowie</option><option value="ur">Uniwersytet Rolniczy w Krakowie</option><option value="other">Inna</option></select></div>
                            </div>
                            <div class="form-row" id="Wiek" style="margin-top: 0px;margin-bottom: 0px;padding-top: 20px;padding-bottom: 20px;margin-right: -5px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;"><strong>Wiek</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input class="form-control" type="text" name="age" placeholder="Wpisz swój wiek" maxlength="2" minlength="1" pattern="[0-9]+" required="" inputmode="numeric"></div>
                            </div>
                            <div class="form-row" id="Plec" style="margin-right: -5px;margin-left: -5px;padding-top: 20px;margin-top: 0px;padding-bottom: 20px;background-color: #f8aa35;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;"><strong>Płeć</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1" style="font-family:Roboto, sans-serif;"><div class="form-check">
    <input type="radio" class="form-check-input" name="sex" id = "man" value = "mezczyzna"/> <label class="form-check-label" for="man"> Mężczyzna </label> <br/>
    <input type="radio" class="form-check-input" name = "sex" value = "woman" id = "kobieta"/> <label class="form-check-label" for="woman"> Kobieta </label>
</div></div>
                            </div>
                            <div class="form-row" id="Waga" style="margin-right: -5px;margin-left: -5px;padding-top: 20px;margin-top: 0px;padding-bottom: 20px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;"><strong>Waga</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;" placeholder="Wpisz swoją wagę w kg" inputmode="numeric" required="" maxlength="3" name="weight" pattern="[0-9]+" minlength="0"></div>
                            </div>
                            <div class="form-row" id="Wzrost" style="margin-right: -5px;margin-left: -5px;padding-top: 20px;margin-top: 27pxpx;padding-bottom: 20px;background-color: #f8aa35;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;"><strong>Wzrost</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;" placeholder="Podaj swój wzrost w cm" inputmode="numeric" required="" maxlength="3" name="height" pattern="[0-9]+" minlength="0"></div>
                            </div>
                            <div class="form-row" id="Czy_zdrowo_jesz" style="margin-right: -5px;margin-left: -5px;padding-top: 20px;padding-bottom: 20px;">
                                <div class="col-md-8 offset-md-1 d-flex align-items-center">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;width: 608px;"><strong>Czy podczas planowania posiłków kierujesz się zasadami zdrowego odżywiania?</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1" style="height: 86px;margin-top: 0px;"><div class="form-check">
    <input type="radio" class="form-check-input" name="diet_choice" value = "zdrowo" id ="yes"/> <label class="form-check-label" for="yes"> Tak</label><br/>
    <input type="radio" class="form-check-input" id = "no" name = "diet_choice" value = "niezdrowo"/> <label class="form-check-label" for="no"> Nie </label><br/>
    <input type="radio" class="form-check-input" id = "sometimes" name = "diet_choice" value = "okazjonalnie zdrowo"/> <label class="form-check-label" for="sometimes"> Czasami </label><br/>
</div></div>
                            </div>
                            <div class="form-row" id="Alkohol" style="margin-right: -5px;margin-left: -5px;padding-top: 20px;margin-top: 0px;padding-bottom: 20px;background-color: #f8aa35;">
                                <div class="col-md-8 offset-md-1 d-flex align-items-center">
                                    <p class="d-flex d-lg-flex align-items-center align-items-lg-center" style="font-family: Roboto, sans-serif;font-size: 18px;width: 663px;height: 55px;margin-bottom: 28px;margin-left: 2%;"><strong>Ile średnio tygodniowo spożywasz alkoholu? Jeśli go nie spożywasz, uzupełnij rubryki zerami.</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input class="form-control" type="number" placeholder="Piwa (0,5l)" name="amount_of_beer" style="margin-bottom: 10px;" min="0"><input class="form-control" type="number" placeholder="Kieliszki wina" name="amount_of_wine" style="margin-bottom: 10px;"
                                        min="0"><input class="form-control" type="number" placeholder="Kieliszki wódki" name="amount_of_vodka" min="0"></div>
                            </div>
                            <div class="form-row" id="Sen" style="margin-right: -5px;margin-left: -5px;padding-top: 20px;padding-bottom: 20px;">
                                <div class="col-md-8 offset-md-1" style="padding-top: 0px;">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;"><strong>Ile godzin średnio śpisz?</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><div class = "check-form">
    <input type="radio" id ="little" class = "check-form-input" name = "sleep_time" value = "1malo spi"/> <label class="form-check-label" for="little"> Mniej niż 7 godzin </label> <br/>
    <input type="radio" id = "average" class = "check-form-input" name = "sleep_time" value = "2srednio spi"/> <label class="form-check-label" for="average">7-9 godzin </label><br/>
    <input type="radio" id ="lot" class = "check-form-input" name = "sleep_time" value = "3duzo spi"/> <label class="form-check-label" for="lot"> Więcej niż 9 godzin </label>
</div></div>
                            </div>
                            <div class="form-row" id="ilecwiczy" style="margin-right: -5px;margin-left: -5px;padding-top: 20px;padding-bottom: 20px;background-color: #f8aa35;">
                                <div class="col-md-8 offset-md-1 d-flex d-lg-flex align-items-lg-center">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;"><strong>Ile godzin w tygodniu poświęcasz na sport? Nie uwzględniaj e-sportu&nbsp;ani gry we flanki.</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><select class="custom-select" name="training_time">
                                    <option selected="" value="0-1 hour">Mniej niz 1 godzinę</option>
                                    <option value="1-2 h">1 - 2 godziny</option>
                                    <option value="3-4 h">3 - 4 godziny</option>
                                    <option value="5-6 h"> -6 godzin</option>
                                    <option value="6 h <">Więcej niż 6 godzin</option>
                                </select></div>
                            </div>
                            <div class="form-row" id="ilecwiczy-2" style="margin-right: -5px;margin-left: -5px;padding-top: 20px;padding-bottom: 20px;">
                                <div class="col-md-8 offset-md-1 d-flex d-lg-flex align-items-lg-center" style="padding-top: 0px;height: 39px;">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;"><strong>Jakie dziedziny sportu najchętniej uprawiasz?</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <div class="d-inline-block">
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="Bieganie" name="sportstyle" value="Bieganie"><label for="Bieganie">&nbsp;Bieganie&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="plywanie" name="sportstyle" value="plywanie"><label for="plywanie">&nbsp;Pływanie&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="fitness" name="sportstyle" value="fitness"><label for="fitness">&nbsp;Fitness&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="jazda-na-rowerze" name="sportstyle" value="jazda na rowerze"><label for="jazda-na-rowerze">&nbsp;Jazda na rowerze&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="windsurfing" name="sportstyle" value="windsurfing"><label for="windsurfing">&nbsp;Windsurfing&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" name="sportstyle" value="jazda na nartach"><label id="jazda-na-nartach" for="jazda-na-nartach">&nbsp;Jazda na nartach&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="snowboard" name="sportstyle" value="snowboard"><label for="snowboard">&nbsp;Snowboard&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="jazda-na-lyzwach" name="sportstyle" value="jazda na lyzwach"><label for="jazda-na-lyzwach">&nbsp;Jazda na łyżwach&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="jazda-na-rolkach" name="sportstyle" value="jazda na rolkach"><label for="jazda-na-rolkach">&nbsp;Jazda na rolkach&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="jazda-na-desce" name="sportstyle" value="jazda na desce"><label for="jazda-na-desce">&nbsp;Jazda na desce&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="jazda-konna" name="sportstyle" value="jazda konna"><label for="jazda-konna">&nbsp;Jazda konna&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="tenis" name="sportstyle" value="tenis"><label for="tenis">&nbsp;Tenis&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="tenis-stolowy" name="sportstyle" value="tenis stolowy"><label for="tenis-stolowy">&nbsp;Tenis stołowy&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="wspinaczka" name="sportstyle" value="wspinaczka"><label for="wspinaczka">&nbsp;Wspinaczka górska&nbsp;</label></div>
                                        <div class="d-inline-block" style="margin-right: 5px;padding-right: 0px;padding-left: 5px;"><input type="checkbox" id="pilka-nozna" name="sportstyle" value="pilka nozna"><label for="pilka-nozna">&nbsp;Piłka Nożna&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="taniec" name="sportstyle" value="taniec"><label for="taniec">&nbsp;Taniec&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-left: 5px;"><input type="checkbox" id="koszykowka" name="sportstyle" value="koszykowka"><label for="koszykowka">&nbsp;Koszykówka&nbsp;</label></div>
                                        <div class="d-inline-block" style="margin-left: 0px;margin-right: 0px;padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="siatkowka" name="sportstyle" value="siatkowka"><label for="siatkowka">&nbsp;Siatkówka&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="pilka-reczna" name="sportstyle" value="pilka reczna"><label for="pilka-reczna">&nbsp;Piłka ręczna&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="silownia" name="sportstyle" value="silownia"><label for="silownia">&nbsp;Siłownia&nbsp;</label></div>
                                        <div class="d-inline-block" style="padding-right: 5px;padding-left: 5px;"><input type="checkbox" id="joga" name="sportstyle" value="joga" style="padding-right: 0px;"><label for="joga">&nbsp;Joga&nbsp;</label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" id="sam_czy_grupa" style="margin-right: -5px;margin-left: -5px;padding-top: 20px;padding-bottom: 20px;background-color: #f8aa35;">
                                <div class="col-md-8 offset-md-1 d-flex d-lg-flex align-items-lg-center">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;"><strong>Wolisz samodzielnie organizować swój plan ćwiczeń czy brać udział w zorganizowanych zajęciach?</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><select class="custom-select" name="training_with">
                                    <option value="sam">Wolę samodzielnie układać mój plan cwiczeń</option>
                                    <option value="grupa">Wolę korzystać z przygotowanego przez kogoś planu ćwiczeń</option>
                                    <option value="grupa">Wolę brać udział w zorganizowanych zajęciach</option></select></div>
                            </div>
                            <div class="form-row" id="osrodki_sportowe" style="margin-right: -5px;margin-left: -5px;padding-top: 20px;padding-bottom: 20px;">
                                <div class="col-md-8 offset-md-1 d-flex d-lg-flex align-items-lg-center">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;"><strong>Czy lubisz spędzać czas na terenie ośrodków sportowych?</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><select class="custom-select" name="training_in_sport_center">
                                    <option value="W osrodku">Tak</option>
                                    <option value="Poza osrodkiem">Wolę ćwiczyć w domu/poza terenem ośrodków sportowych</option></select></div>
                            </div>
                            <div class="form-row" id="multisport" style="margin-right: -5px;margin-left: -5px;padding-top: 20px;padding-bottom: 20px;background-color: #f8aa35;">
                                <div class="col-md-8 offset-md-1 d-flex d-lg-flex align-items-lg-center">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;"><strong>Czy posiadasz kartę typu Multisport/stały karnet na siłownię?</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><div class="form-check">
    <input type="radio" class="form-check-input" name="multisport" value = "Ma multisport" id ="yes"/> <label class="form-check-label" for="yes"> Tak</label><br/>
    <input type="radio" class="form-check-input" id = "no" name = "multisport" value = "Brak multisport"/> <label class="form-check-label" for="no"> Nie </label><br/>
</div></div>
                            </div>
                            <div class="form-row" id="sportsman_behaviour" style="margin-right: -5px;margin-left: -5px;padding-top: 20px;padding-bottom: 20px;">
                                <div class="col-md-8 offset-md-1 d-flex d-lg-flex align-items-lg-center">
                                    <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 18px;"><strong>Czy uprawiałeś/-aś kiedyś sport zawodowo lub w klubie sportowym?</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><div class="form-check">
    <input type="radio" class="form-check-input" name="sportsman_behaviour" value = "2byly sportowiec" id ="yes"/> <label class="form-check-label" for="yes"> Robiłam to kiedyś, ale to przeszłość</label><br/>
    <input type="radio" class="form-check-input" id = "still sportsman" name = "sportsman_behaviour" value = "3sportowiec"/> <label class="form-check-label" for="still"> Nadal to robię </label><br/>
    <input type="radio" class="form-check-input" id = "never sportsman" name = "sportsman_behaviour" value = "1nie byl sportowcem"/> <label class="form-check-label" for="no"> Nigdy tego nie robiłem/-am </label>
</div></div>
                            </div>
                            <div class="form-row d-lg-flex" style="margin-right: -5px;margin-left: -5px;padding-top: 20px;">
                                <div class="col-lg-2 offset-lg-5 d-flex d-sm-flex d-md-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-xl-center"><button class="btn btn-lg" id="Submit" type="submit" style="margin-left: 3px;width: 141px;background-color: #E95A24;color: #FFFFFF;">Wyślij</button></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

