<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<body style="background-color: #1a1f3a;">
    <h1 style="color: rgb(255,255,255);text-align: center;padding: 35px;background-color: #1a1f3a;height: 150px;font-size: 60px;">O projekcie</h1>
    <p style="text-align: center;color: rgb(255,255,255);  margin-left:25%; margin-right:25%;" >
        Cześć! Jesteśmy studentami kierunku Inżynieria Biomedyczna na Akademii Górniczo-Hutniczej w Krakowie.
Zwracamy się do Was z gorącą prośbą o wypełnienie ankiety, która pozwoli nam na potwierdzenie funkcjonalności naszej strony internetowej oraz pozyskanie danych, dzięki czemu będziemy mogli uzyskać zaliczenie z przedmiotu Projektowanie Aplikacji Webowych połączonego z Przedmiotem Humanistycznym.
Ankieta dotyczy aktywności sportowej studentów polskich uczelni wyższych (19-26 lat) w warunkach sprzed pandemii. Jest ona w pełni anonimowa, a wypełnienie jej zajmie Wam około 10 min.
Dziękujemy!

    </p>
    <footer style="color: #ffffff;background-color: #f8aa35;position: absolute;bottom: 0;">
        <img src="{{url_for('static', filename='Bez-nazwy-1.gif')}}" style="position: relative;width: 22%;"/>
        <img src="{{url_for('static', filename='Bez-nazwy-2.gif')}}" style="width: 22%;"/>
        <img src="{{url_for('static', filename='Bez-nazwy-5.gif')}}" style="width: 22%;"/>
        <img src="{{url_for('static', filename='Bez-nazwy-4.gif')}}" style="width: 22%;"/>
    </footer>
    {% endblock %}
    <script src="{{url_for('static/js', filename='jquery.min.js')}}"></script> 
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
</body>