{% extends "base.html" %}

{% block content %}
<style>

div.chart{ width: auto;
    margin: 0 auto !important;
}

div.text{ color:#ffffff;
     font-family: roboto;
     font-size: 150%;
     margin:50px;
     margin-left:250px;
     margin-right:250px;
     text-align: justify;
     }

</style>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChartPercentage);
google.charts.setOnLoadCallback(drawChartUniversity);
google.charts.setOnLoadCallback(drawChartMultisport);
google.charts.setOnLoadCallback(drawChartYearOfStudy);
google.charts.setOnLoadCallback(drawChartFieldOfStudy);
google.charts.setOnLoadCallback(drawChartAlcoholAndUni);
google.charts.setOnLoadCallback(drawChartAlcoholAndWorkout);

{#var THESIS1 = {{ THESIS1 }}#}
{#var THESIS2 = {{ THESIS2 }}#}
{#var THESIS3 = {{ THESIS3 }}#}
{#var THESIS4 = {{ THESIS4 }}#}
{#var THESIS5 = {{ THESIS5 }}#}
{#var THESIS6 = {{ THESIS6 }}#}
{#var men = {{ sex.men }}#}
{#var women = {{ sex.women }}#}

// Draw the chart and set the chart values
function drawChartPercentage() {
  var data = google.visualization.arrayToDataTable([
  ['Uczelnia', 'Czas ćwiczeń w tygodniu[h]'],
  ['AGH', {{ university[0][1] }}    ],
  ['PK',     {{ university[1][1] }}      ],
  ['UJ',    {{ university[2][1] }}     ],
  ['UP',    {{ university[3][1] }}     ],
  ['UEK', {{ university[4][1] }}    ],
  ['UR',    {{ university[5][1] }}     ],
  ['Inna', {{ university[6][1] }}   ]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {title:'Odsetek ankietowanych studentów z poszczególnych uczelni', height:550};

  // Display the chart inside the <div> element with id="barchart"
  var chart = new google.visualization.PieChart(document.getElementById('PercentageChart_div'));
  chart.draw(data, options);
}

// Draw the chart and set the chart values
function drawChartUniversity() {
  var data = google.visualization.arrayToDataTable([
  ['Univeristy', 'Hours per Day', { role: 'style' }],
  ['AGH',{{ university[0][1] }}   , 'color: #3366CC'],
  ['PK', {{ university[1][1] }}, 'color: #DC3912'],
  ['UJ', {{ university[2][1] }} , 'color: #FF9900'],
  ['UP', {{ university[3][1] }} , 'color: #109618'],
  ['UEK', {{ university[4][1] }}   , 'color: #990099'],
  ['UR', {{ university[5][1] }} , 'color: #0099C6'],
  ['Inna', {{ university[6][1] }}  , 'color: #DD4477']
]);

  // Optional; add a title and set the width and height of the chart
  var options = {title:'Średnia ilość czasu przeznaczana tygodniowo na aktywność fizyczną przez studentów poszczególnych uczelni', height:550, legend: { position: "none" }, vAxis: {title:"Czas [h]"}, hAxis: {title:"Uczelnia"}};

  // Display the chart inside the <div> element with id="barchart"
  var chart = new google.visualization.ColumnChart(document.getElementById('UniversityChart_div'));
  chart.draw(data, options);
}

function drawChartMultisport() {
  var data = google.visualization.arrayToDataTable([
  ['Multisport', 'Hours per Day', { role: 'style' }],
  ['Posiadam kartę Multisport/stały karnet na siłownię', 8, 'color: #3366CC' ],
  ['Nie posiadam karty Multisport/stałego karnetu na siłownię', 4, 'color: #DC3912']
]);

  // Optional; add a title and set the width and height of the chart
  var options = {title:'Średnia ilość czasu przeznaczana tygodniowo na aktywność fiyczną w zależności od posiadania karty Multisport lub stałego karnetu na siłownię', height:550, legend: { position: "none" }, vAxis: {title:"Czas [h]"}};


  // Display the chart inside the <div> element with id="barchart"
  var chart= new google.visualization.ColumnChart(document.getElementById('MultisportChart_div'));
  chart.draw(data, options);
}

function drawChartYearOfStudy() {
  var data = google.visualization.arrayToDataTable([
  ['Rok studiów', 'Ilość godzin tygodniowo', { role: 'style' }],
  ['I',{{ year[0][1] }} , 'color: #3366CC' ],
  ['II', {{ year[1][1] }} , 'color: #DC3912'],
  ['III', {{ year[2][1] }} , 'color: #FF9900'],
  ['IV', {{ year[3][1] }} , 'color: #109618'],
  ['V', {{ year[4][1] }} , 'color: #990099']
]);

  // Optional; add a title and set the width and height of the chart
  var options = {title:'Średnia ilość czasu przeznaczana tygodniowo na aktywność fiyczną przez studentów na różnych latach studiów', height:'550', legend: { position: "none" }, vAxis: {title:"Czas [h]"}, hAxis: {title:"Rok studiów"}};

  // Display the chart inside the <div> element with id="barchart"
  var chart= new google.visualization.ColumnChart(document.getElementById('YearOfStudyChart_div'));
  chart.draw(data, options);
}

function drawChartFieldOfStudy() {
  var data = google.visualization.arrayToDataTable([
  ['Kierunek studiów', 'Ilość godzin tygodniowo', { role: 'style' }],
  ['Humanistyczno-społeczny', {{ type_of_study[0][1] }}, 'color: #3366CC'],
  ['Techniczny', {{ type_of_study[1][1] }}, 'color: #DC3912'],
  ['Przyrodniczy/ścisły', {{ type_of_study[2][1] }}, 'color: #FF9900'],
  ['Artystyczny', {{ type_of_study[3][1] }}, 'color: #109618'],
  ['Ekonomiczno-biznesowy', {{ type_of_study[4][1] }}, 'color: #990099'],
  ['Medyczny', {{ type_of_study[5][1] }}, 'color: #0099C6']
]);

  // Optional; add a title and set the width and height of the chart
  var options = {title:'Średnia ilość czasu przeznaczana tygodniowo na aktywność fiyczną przez studentów na różnych kierunkach studiów', height:700, legend: { position: "none" }, vAxis: {title:"Czas [h]"}, hAxis: {title:"Typ kierunku"}};

  // Display the chart inside the <div> element with id="barchart"
  var chart= new google.visualization.ColumnChart(document.getElementById('FieldOfStudyChart_div'));
  chart.draw(data, options);
}

function drawChartAlcoholAndUni() {
  var data = google.visualization.arrayToDataTable([
  ['Uczelnia', 'Ilość alkoholu spożywana tygodniowo w jednostkach', { role: 'style' }],
  ['AGH', {{ alcohol_univ[0][1] }}, 'color: #3366CC'],
  ['PK', {{ alcohol_univ[1][1] }}, 'color: #DC3912'],
  ['UJ', {{ alcohol_univ[2][1] }}, 'color: #FF9900'],
  ['UP', {{ alcohol_univ[3][1] }}, 'color: #109618'],
  ['UEK', {{ alcohol_univ[4][1] }}, 'color: #990099'],
  ['UR', {{ alcohol_univ[5][1] }}, 'color: #0099C6'],
  ['Inna', {{ alcohol_univ[6][1] }}, 'color: #DD4477']
]);

  // Optional; add a title and set the width and height of the chart
  var options = {title:'Ilość alkoholu spożywana tygodniowo przez studentów z poszczególnych uczelni', height:550, legend: { position: "none" }, vAxis: {title:"Ilość alkoholu spożywana tygodniowo [l]"}, hAxis: {title:"Uczelnia"}};
  // Display the chart inside the <div> element with id="barchart"
  var chart = new google.visualization.ColumnChart(document.getElementById('AlcoholAndUniChart_div'));
  chart.draw(data, options);
}

function drawChartAlcoholAndWorkout() {
  var data = google.visualization.arrayToDataTable([
  ['Czas ćwiczeń w tygodniu[h]', 'Ilość spożywanego w tygodniu alkoholu[g]', { role: 'style' }],
  ['Mniej niż 1 godzinę', {{ sleep_drink[0][1] }}, 'color: #3366CC'],
  ['1-2 godziny', {{ sleep_drink[1][1] }}, 'color: #DC3912'],
  ['3-4 godziny', {{ sleep_drink[2][1] }}, 'color: #FF9900'],
  ['5-6 godzin', {{ sleep_drink[3][1] }}, 'color: #109618'],
  ['Więcej niż 6 godzin', {{ sleep_drink[4][1] }}, 'color: #990099']
]);

  // Optional; add a title and set the width and height of the chart
  var options = {title:'Zależność między czasem poświęcanym w tygodniu na trening a ilością spożywanego w tygodniu alkoholu', height:550, legend: { position: "none" }, vAxis: {title:"Ilość alkoholu spożywana tygodniowo [l]"}, hAxis: {title:"Ilość czasu poświęcana tygodniowo na aktywność fizyczną"}};

  // Display the chart inside the <div> element with id="barchart"
  var chart = new google.visualization.ColumnChart(document.getElementById('AlcoholAndWorkoutChart_div'));
  chart.draw(data, options);
}

(window).resize(function(){
        drawChartPercentage();
        drawChartUniversity();
        drawChartMultisport();
        {#drawChartYearOfStudy();#}
        drawChartFieldOfStudy();
        drawChartAlcoholAndUni();
        {#drawChartAlcoholAndWorkout();#}
        });

</script>
</head>

<body style="background-color: #1a1f3a;">
<h1 style="color: rgb(255,255,255);text-align: center;padding:35px; background-color: #f8aa35;height: 150px;font-size: 60px;">Wyniki</h1>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="chart" id="PercentageChart_div" align="center"></div>
{#        <div class="text"><p> W oczekiwaniu na wyniki naszej ankiety postanowiliśmy postawić kilka tez i sprawdzić czy uzyskane od Was dane obalą lub potwierdzą nasze podejrzenia. Poniżej możecie zapoznać się z naszymi założeniami oraz zobaczyć jak zostały one zweryfikowane przez Wasze odpowiedzi!</p></div>#}

{#        <div class="text"><p> Teza 1: <br>AGH bardziej aktywny sportowo od UJ. </p></div>#}
{#        <div class="text"><p>{{ THESIS1 }}</p></div>#}
        <div class="chart" id="UniversityChart_div" align="center"></div>

{#        <div class="text"><p>Teza 2:<br>Osoby posiadające kartę multisport ćwiczą zauważalnie więcej.</p></div>#}
{#        <div class="text"><p>{{ year[0][2] }} </p></div>#}
{#        <div class="text"><p>{{ THESIS2 }}</p></div>#}
        <div class="chart" id="MultisportChart_div" align="center"></div>

{#        <div class="text"><p>Teza 3: <br>Na póżniejszych latach studenci mają więcej wolnego czasu i poświęcają go aktywności fizycznej.</p></div>#}
{#        <div class="text"><p>{{ THESIS3 }}</p></div>#}
{#        <div class="chart" id="YearOfStudyChart_div" align="center"></div>#}

{#        <div class="text"><p>Teza 4:<br> Studenci niektórych kierunków mają więcej wolnego czasu i poświęcają go aktywności fizycznej.</p></div>#}
{#        <div class="text"><p>{{ THESIS4 }}</p></div>#}
        <div class="chart" id="FieldOfStudyChart_div" align="center"></div>

{#        <div class="text"><p>Teza 5:<br> Studenci niektórych uczelni spożywają więcej alkoholu niż inne.</p></div>#}
{#        <div class="text"><p>{{ THESIS5 }}</p></div>#}
        <div class="chart" id="AlcoholAndUniChart_div" align="center"></div>

{#        <div class="text"><p>Teza 6:<br> Spozywanie alkoholu jest skorelowane z czasem poświęconym ćwiczeniom.</p></div>#}
{#        <div class="text"><p>{{ THESIS6 }}</p></div>#}
{#        <div class="chart" id="AlcoholAndWorkoutChart_div" align="center"></div>#}

</body>

{% endblock %}