{% extends "base.html" %}

{% block content %}
<body style="background-color: #1a1f3a;">
<h1 style="color: rgb(255,255,255);text-align: center;padding: 35px;background-color: #f8aa35;height: 150px;font-size: 60px;">Wyniki</h1>
<div class="carousel slide" data-ride="carousel" id="carousel-1" style="margin-top: 10%;">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="parent d-flex justify-content-center">
                    <p style="color: rgb(255,255,255);width: 200px;padding: 10px;">Coming soon!</p>
                </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>
{% endblock %}
</html>