<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <body style="background-color: #1a1f3a;">
    <div class="container-fluid">
        <div class="row d-lg-flex justify-content-lg-center">
            <div class="col-lg-5" style="height: 350px;">
                <div class="row" style="height: 61px;"></div>
                <div class="row" style="height: 125px;margin-top: 47px;">
                    <div class="col" style="margin-top: 0px;">
                        <h1 class="text-center" style="color: #FFFFFF;font-size: 97px;">Cześć!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="height: 78px;">
                        <p class="text-center" style="color: #FFFFFF;font-size: 18px;height: 84px;">
                            Zapraszamy Cię do wypełnienia ankiety dotyczącej Twoich nawyków sportowych.&nbsp;</p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                      <a class="btn btn-primary" href="/form" role="button" style="padding-top: 10px; padding-bottom: 10px;
                       text-align: center; width: 185px; font-size: 20px;background-color: #F8AA35;">Zaczynamy!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-0"><img class="d-lg-flex" src="{{url_for('static', filename='Main.jpg')}}" style="margin-right: 8px;margin-left: 22px;margin-top: 10px;width: 100%;height: 100%;"></div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    {% endblock %}
</body>


